Checks: >
  -*,
  bugprone-*,
  -bugprone-exception-escape,
  performance-*,
  portability-*,
  -portability-avoid-pragma-once,
  modernize-use-override,
  modernize-use-nodiscard
WarningsAsErrors: ''
HeaderFilterRegex: '.*[/\\]vosp[/\\](contracts|testing).*'
